@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #ffecd2 0%, #fcb69f 100%);
  font-family: 'Georgia', serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.menu-header {
  padding: 40px;
  margin: 0;
  position: relative;
}

.menu-header h1 {
  font-size: 2.5em;
  color: #a23e48;
  text-shadow: 2px 2px 0px #feca57;
  margin-bottom: 20px;
}

.menu-header p {
  font-size: 1.2em;
  color: #264653;
  letter-spacing: 0.5px;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 40px;
}

button {
  background-color: #e76f51;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 18px;
  padding: 20px 35px;
}

.menu-item-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  font-size: 18px;
  background-color: #fff;
  width: 80%;
  max-width: 600px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content h2 {
  font-size: 28px;
}

.modal-content p {
  font-size: 18px;
}

.modal-content img {
  max-width: 100%;
}

.modal-content ul {
  text-align: left;
  font-size: 18px;
}

.modal-content img {
  display: block;
  margin: 0 auto;
}

.icons {
  position: absolute;
  top: 40%;
  right: -50%;
  transform: translateY(-50%);
}

.icons i {
  font-size: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.show {
  display: block;
}

.cart-container {
  display: none; 
  position: fixed; 
  right: 0;
  top: 0;
  width: 300px; 
  height: 100%; 
  overflow: auto; 
  background-color: #fff;
  border-left: 1px solid #888;
  z-index: 100;
  padding: 20px;
}

.cart-content h2 {
  margin: 0;
  padding-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.remove-item {
  cursor: pointer;
  color: red;
  font-size: 20px;
}

.back-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
}

.checkout-button {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #2a9d8f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}