@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body { 
  background:  linear-gradient(135deg, #ffecd2 0%, #fcb69f 100%);
  font-family: 'Roboto', sans-serif;
}

/* Styling for the order summary text */
p {
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 0px #feca57;
  padding-top: 20px;
  padding-bottom: 40px; /* Increased padding to add space above the table */
  color: #a23e48;
}

/* Main container adjustments */
.container {
  display: flex;
  justify-content: space-between;
}

.table-container {
  width: auto;
}

/* Table styling */
table {
  border-collapse: collapse;
  width:100%;
  box-shadow: 0 2px 15px rgba(64,64,64,.7);
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  margin-bottom: 20px; /* Space between table and buttons */
}

td, th {
  padding: 15px 20px;
  text-align: center;
}

th {
  background-color: #ba68c8;
  color: #fafafa;
  font-family: 'Open Sans', Sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

tr {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}


.order-buttons button {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: #000000;
  padding: 15px 20px;
  border: none;
  border-radius: 50px / 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.order-buttons {
  display: flex;
  justify-content: center; /* Adjust this if you want to change the alignment */
  flex-wrap: wrap; /* Allows buttons to wrap in smaller screens */
  gap: 50px; /* Adjust the spacing between buttons */
  padding: 20px 0; /* Adds padding above and below the button group */
  border-radius: 50px / 40px; /* Creates an oval shape */
}

.order-buttons button:hover {
  background-color: #e76f51; /* Fill color on hover */
  color: #fff; /* White text on hover */
}

/* Image alignment correction */
.right-side-image {
  display: flex;
  justify-content: center; /* Center the image if needed, or use flex-start for left alignment */
  width: 40%; /* Ensures the image container takes up half the horizontal space */
}

.right-side-image img {
  max-width: 100%; /* Corrected to ensure the image fits within its container */
  height: 30%;
}

.rewards-style {
  font-family: 'Georgia', serif; /* Makes font consistent with the table */
  font-size: 1em; /* Adjust size as needed */
  font-weight: bold; /* Makes the text thicker */
  text-shadow: 2px 2px 0px #feca57; /* Gives the text a shadow */
  padding-top: 20px; /* Add padding to space out from the top of the page */
  color: #a23e48; /* Optional: Change text color if needed for better visibility */
}
  


  